body {
  background-color: #282c34;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #ffdab9;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.en-tete {
  margin: 20px;
}

h1 {
  margin: 32px 0;
  color: #282c34;
  font-size: 24px;
  display: inline;
}
.input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 5px solid #87ceeb;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}
.new-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 5px solid #87ceeb;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: #e2e2e2;
}
.add-button {
  padding: 16px;
  border: 3px solid #87ceeb;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #87ceeb;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
}

.todos {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #282c34;
  background-color: #87ceeb;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  display: inline;
  margin-left: 300px;
}
.new-icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  display: inline;
  margin-left: 300px;
}

.delete-icon {
  margin-right: 5px;
  color: #282c34;
}

.edit-icon {
  color: #282c34;
}
